.partnership{
    @media (max-width: 600px){
        padding-top: 20px;
    }
    &__inner{
        position: relative;
        z-index: 0;
        //Style
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: adapt-vw(26, 90);
        &::before{
            content: "";
            position: absolute;
            z-index: -1;
            top: calc((#{adapt-vw(60, 100)} - 20px) * -1);
            left: calc((240px + 66px) * -1);
            width: adapt-vw(180, 258);
            aspect-ratio: 4/5;
            background-image: url("../images/partnership-el.svg");
            background-position: bottom right;
            background-repeat: no-repeat;
            background-size: contain;
            @media (max-width: 1600px){
                display: none;
            }
        }
        @media (max-width: 800px){
            flex-direction: column;
        }
        @media (max-width: 600px){
            padding-bottom: 0;
        }
    }
    &__body{
        max-width: 500px;
        width: 35%;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: adapt-vw(30, 70);
        @media (max-width: 800px){
            max-width: 100%;
            width: 100%;
        }
    }
    &__dscr{
        max-width: 470px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: adapt-vw(18, 40);
        //Text
        line-height: var(--line-height-text);
        p:not(:has(strong)){
            opacity: .6;
        }
        strong{
            font-weight: 500;
            font-size: adapt-vw(16, 20);
            @media (max-width: 1600px){
                font-size: adapt-vw(16, 18);
            }
        }
    }
    &__form{
        width: 100%;
        padding-left: adapt-vw(20, 50);
        @media (max-width: 800px){
            padding: 0;
        }
        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: adapt-vw(24, 30);
        }
        &-body{
            display: flex;
            flex-wrap: wrap;
            gap: adapt-vw(10, 14);
            input{
                &:first-of-type{
                    flex: 1 1 100%;
                }
            }
            input, .custom-select-wrapper{
                flex: 0 1 calc(50% - (#{adapt-vw(10, 14)} / 2));
                min-width: 0;
                @media (max-width: 1000px){
                    flex: 1 1 100%;
                }
            }
            input, .custom-select__trigger, textarea{
                appearance: none;
                background: #1F2326;
                border-radius: 10px;
                padding: adapt-vw(16, 22) adapt-vw(24, 30);
                //Text
                font-size: adapt-vw(14, 18);
                color: var(--white-color);   
                &::placeholder{
                    color: var(--white-color);
                }
            }
            .custom-select-wrapper{
                position: relative;
                .custom-select__trigger span{
                    padding-right: adapt-vw(14, 16);
                }
                &::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: adapt-vw(24, 30);
                    transform: translate(0%, -50%);
                    width: adapt-vw(14, 16);
                    aspect-ratio: 4/4;
                    background-image: url("../images/icons/arrow-b.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    @media (max-width: 1600px){
                        right: adapt-vw(24, 26);
                    }
                }
            }
            textarea{
                flex: 1 1 100%;
                height: adapt-vw(120, 180);
                resize: none;
            }
        }
        &-footer{
            display: flex;
            align-items: center;
            gap: adapt-vw(12, 68);
            @media (max-width: 1000px){
                flex-direction: column;
                align-items: flex-start;
                gap: adapt-vw(12, 16);
            }
            button[type=submit]{
                background: var(--white-color);
                flex: 1 0 auto;
                //Text
                font-weight: 500;
                font-size: adapt-vw(16, 20);
                text-transform: none;
                white-space: nowrap;
                color: var(--black-color);
                @media (max-width: 1000px){
                    width: 100%;
                }
                &::before{
                    background: var(--main-color);
                }
                @media (any-hover: hover){
                    &:hover{
                        color: var(--white-color);
                        svg path{
                            fill: var(--white-color);
                        }
                    }
                }
                @media (max-width: 1600px){
                    font-size: adapt-vw(16, 18);
                }
            }
        }
        &-privacy{
            opacity: .6;
            //Text
            line-height: var(--line-height-text);
        }
    }
}