.principles{
    overflow: hidden;
    background: linear-gradient(180deg, #9badc5 11.92%, #d7e1ec 61.06%), #d8e2ec;
    //Text
    color: var(--black-color);
    &__main{
        position: relative;
    }
    &__inner{
        position: relative;
        z-index: 20;
        max-width: 1090px;
        width: 76%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: adapt-vw(80, 135);
        @media (max-width: 1600px){
            width: 78%;
        }
        @media (max-width: 1200px){
            width: 100%;
        }
        @media (max-width: 800px){
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
        }
    }
    &__body{
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: adapt-vw(30, 70);
        @media (max-width: 1600px){
            gap: adapt-vw(30, 60);
        }
        @media (max-width: 600px){
            max-width: 100%;
        }
    }
    &__dscr{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: adapt-vw(18, 30);
        h3{
            margin-bottom: calc(adapt-vw(9, 15) * -1);
            //Text
            font-weight: 400;
            font-size: adapt-vw(24, 34);
            @media (max-width: 1600px){
                font-size: adapt-vw(24, 32);
            }
        }
        strong{
            font-weight: 500;
            font-size: adapt-vw(16, 20);
            line-height: var(--line-height-text);
            color: var(--black-color);
            @media (max-width: 1600px){
                font-size: adapt-vw(16, 18  );
            }
        }
        p{
            font-size: adapt-vw(14, 18);
            line-height: var(--line-height-text);
            color: var(--gray-text-color);
        }
    }
    &__more{
        @media (max-width: 600px){
            width: 100%;
        }
    }
    &__slider{
        padding: adapt-vw(20, 60) 0;
        position: relative;
        max-width: adapt-vw(300, 440);
        width: 100%;
        @media (max-width: 1600px){
            padding: adapt-vw(20, 50) 0;
        }
        @media (max-width: 800px){
            max-width: 100%;
        }
        &::before, &::after{
            content: '';
            position: absolute;
            left: 50%;
            width: 80%;
            height: adapt-vw(20, 60);
            transform: translate(-50%, 0%);
            backdrop-filter: blur(100px);
            background: rgba(255, 255, 255, 0.35);
            @media (max-width: 1600px){
                height: adapt-vw(20, 50);
            }
        }
        &::before{
            top: 0;
            border-radius: 30px 30px 0 0;
        }
        &::after{
            bottom: 0;
            border-radius: 0 0 30px 30px;
        }
    }
    .swiper{
        border-radius: 30px;
        overflow: hidden;
        //
        isolation: isolate;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transform: translateZ(0); 
    }
    .swiper-slide{
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transform: translateZ(0);
    }
    &__slide{
        background: var(--white-color);
        overflow: hidden;
        min-height: adapt-vw(360, 660);
        @media (max-width: 1600px){
            min-height: adapt-vw(360, 570);
        }
        &-img{
            width: adapt-vw(125, 210);
        }
        &-body{
            padding: adapt-vw(26, 50) adapt-vw(20, 70) adapt-vw(80, 100) adapt-vw(20, 70);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: adapt-vw(26, 50);
            @media (max-width: 1600px){
                gap: adapt-vw(26, 40);
            }
        }
        &-title{
            font-weight: 400;
            font-size: adapt-vw(24, 34);
            line-height: 1.3;
            @media (max-width: 1600px){
                font-size: adapt-vw(24, 32);
            }
        }
        &-dscr{
            font-weight: 500;
            font-size: adapt-vw(14, 18);
            line-height: var(--line-height-text);
            color: var(--gray-text-color);
        }
    }
    .swiper-pagination{
        position: absolute;
        width: 100%;
        left: 0;
        bottom: adapt-vw(30, 60);
        padding: 0 adapt-vw(20, 70);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: adapt-vw(20, 30);
        .swiper-pagination-bullet{
            all: unset;
            cursor: pointer;
            position: relative;
            width: adapt-vw(8, 10);
            height: adapt-vw(8, 10);
            border-radius: 50%;
            background: #D7D7D7;
            transition: .3s ease;
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: adapt-vw(30, 46);
                aspect-ratio: 4/4;
                border-radius: 50%;
                background: var(--black-color);
                opacity: 0;
                transition: opacity .3s ease;
            }
            &.swiper-pagination-bullet-active{
                background: var(--black-color);
                &::before{
                    opacity: .05;
                }
            }
        }
    }
    &__video{
        position: absolute;
        top: 0;
        right: -240px;
        max-width: 1100px;
        height: 100%;
        //
        mix-blend-mode: darken;
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        @media (max-width: 800px){
            display: none;
        }
    }
}