.platforms-single{
    background: var(--main-bg-color);
    position: relative;
    height: 100dvh;
    max-height: 940px;
    @media (max-width: 1600px){
        max-height: calc(800px + var(--heightHeader));
    }
    @media (max-width: 1400px){
        height: auto;
    }
    &__body{
        position: relative;
        z-index: 10;
        width: 52.2%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: adapt-vw(40, 70);
    }
    &__link{
        background: var(--white-color);
        //Text
        color: var(--black-color);
        &::before{
            display: none;
        }
    }
    &__img{
        position: absolute;
        top: 0;
        right: 0;
        max-width: 1040px;
        width: 41%;
        height: 100%;
        object-position: top left;
        mask-image: linear-gradient(to right, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
        @media (min-width: 1920px){
            right: calc((100vw - 1440px) / 2 - 240px);
        }
    }
}