.btn{
    position: relative;
    z-index: 0;
    overflow: hidden;
    //Style
    background: var(--main-color);
    border-radius: 60px;
    padding: adapt-vw(18, 26) adapt-vw(30, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: adapt-vw(16, 30);
    //Text
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: var(--white-color);
    @media (max-width: 1600px){
        padding: adapt-vw(18, 24) adapt-vw(30, 48);
        gap: adapt-vw(16, 24);
        //Text
        font-size: adapt-vw(14, 15);
    }
    @media (any-hover: hover){
        &:hover{
            &::before{
                transform: translate(0, 0);
            }
            svg, img{
                transform: rotate(45deg);
            }
        }
    }
    &::before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--black-color);
        transform: translate(-100%, 0);
        transition: transform .4s ease-in-out;
        //
        will-change: transform;
    }
    svg, img{
        flex-shrink: 0;
        transition: transform .4s ease;
        //
        will-change: transform;
    }
}