.about{
    display: flex;
    flex-direction: column;
    .container{
        display: flex;
        flex: 1 1 auto;
    }
    &__inner{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .content-media-bg{
        mix-blend-mode: lighten;
    }
}